@import url(//fonts.googleapis.com/css?family=Ubuntu);

body {
  margin: 0;
  padding: 0;
  font-family: helvetica, sans-serif;
  background-color: #f0ebe5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu", sans-serif;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #68594a;
}

a:hover {
  color: #a59a8e;
}

a.button,
input[type="submit"] {
  color: #f0ebe5;
  font-weight: 700;
  background: #a59a8e;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 14px;
  border: 0;
  cursor: pointer;
}

a.button.light {
  color: #666;
  background: #ededed;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

table th,
table td {
  text-align: left;
  font-size: 14px;
  padding: 10px;
  margin: 0;
}

tbody tr:nth-child(odd) {
  background: #dad3ca;
}

tbody tr.subtotal {
  background: #c0bab2;
}

thead th,
tbody tr.total {
  background: #68594a;
  color: #fff;
  font-weight: bold;
}

table.cart {
  margin-bottom: 40px;
}

table.cart img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
}

tbody td.num {
  text-align: right;
}

td input[type="submit"] {
  font-size: 12px;
  padding: 4px 10px;
}

form p label,
form p input {
  float: left;
  clear: both;
}

form p label {
  font-size: 14px;
  padding-bottom: 4px;
}

form p input {
  width: 300px;
  font-size: 13px;
  margin-bottom: 10px;
  padding: 10px 12px;
  border: 0;
  background: #68594a;
  color: #dad3ca;
  border-radius: 4px;
}

ul.errorlist {
  float: left;
  color: #ff0000;
  clear: both;
  font-size: 13px;
  margin: 0 0 0 10px;
  padding: 10px 0;
}

#header {
  padding: 10px 100px;
  font-size: 18px;
  overflow: auto;
}

#subheader {
  background: #e2dcd5;
  color: #444;
  padding: 15px 100px;
  overflow: auto;
}

#header .logo {
  font-family: "Ubuntu", sans-serif;
  float: left;
  color: #333;
  font-size: 22px;
  margin-right: 10%;
}

#subheader .cart {
  float: right;
  padding-top: 4px;
}

#content {
  padding: 0 100px;
  overflow: hidden;
}

#sidebar {
  width: 220px;
  padding: 30px 20px 0 0;
  float: left;
}

#sidebar ul {
  margin: 0;
  padding: 0;
}

#sidebar ul li {
  margin: 0;
  list-style: none;
  padding: 10px 14px;
}

#sidebar ul li a {
  display: block;
}

#sidebar ul li.selected {
  background: #68594a;
  border-radius: 4px;
}

#sidebar ul li.selected a {
  color: #fff;
}

#main {
  float: left;
  width: 96%;
  margin-right: -220px;
  overflow: hidden;
}
.product-list .item {
  width: 20%;
  min-width: 250px;
  height: 250px;
  padding: 10px 20px 10px 0;
  float: left;
  text-align: center;
  line-height: 1.2;
}

.product-list .item img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  margin-bottom: 8px;
}

.product-detail {
  text-align: justify;
}

.product-detail .price {
  color: #333;
  font-size: 28px;
  font-weight: bold;
}

.product-detail img {
  max-height: 50vh;
  float: left;
  padding: 0 20px 20px 0;
}

.product-detail h1 {
  margin-bottom: 0;
}

.product-detail h2 {
  margin-top: 10px;
}

.order-form {
  float: left;
}

.order-info {
  float: right;
  width: 350px;
  background: #e2dcd5;
  padding: 10px 20px;
  color: #333;
  border-bottom: 4px solid #68594a;
}

.order-info h3 {
  color: #68594a;
}

.order-info ul li {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.order-info p {
  font-weight: bold;
  float: right;
}

.order-info span {
  float: right;
}

.neg {
  color: #dc1616;
}

.languages {
  float: right;
  padding-top: 4px;
  font-size: 14px;
}

.languages ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
}

.languages ul li {
  float: left;
  margin: 0 0 0 10px;
  font-size: 14px;
}

.languages p {
  float: left;
  margin: 0;
}

.recommendations {
  clear: both;
}

.recommendations div {
  float: left;
}

.recommendations .item {
  width: 20%;
  min-width: 250px;
  height: 200px;
  margin-right: 15px;
}

.recommendations img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.recommendations p {
  clear: both;
}

.recommendations.cart {
  width: 60%;
  float: left;
  overflow: auto;
}

.recommendations.cart h3 {
  margin-top: 0;
}

.recommendations.cart .item {
  width: 20%;
  min-width: 150px;
  height: unset;
  margin-right: 10px;
}

.recommendations.cart img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.recommendations.cart .item p {
    margin: 10px 0;
}

/* braintree hosted fields */
form div.field {
  font-size: 13px;
  color: #666;
  width: 300px;
  height: 22px;
  margin-bottom: 10px;
  padding: 6px 12px;
  border: 0;
  background: #efefef;
  color: #666;
  border-radius: 4px;
}

/* messages */
ul.messages {
  margin: 10px 100px;
  padding: 0;
  list-style-type: none;
}
ul.messages li.success,
ul.messages li.warning,
ul.messages li.error,
ul.messages li.info {
  margin: 0;
  padding: 14px 20px;
  list-style: none;
  color: #fff;
}

ul.messages li.success {
  background: #81ce81;
}
ul.messages li.success a {
  color: #0ac33e;
}

ul.messages li.error {
  background: #a30029;
  color: #e9828e;
}
ul.messages li.error a {
  color: #e9828e;
}

ul.messages li.info {
  background: #faffae;
  color: #696b4e;
}
ul.messages li.info a {
  color: #1586de;
}

ul.messages li.warning {
  background: #de9404;
}
ul.messages li.warning a {
  color: #f49000;
}

ul.messages li a.close {
  margin: 0;
  float: right;
  opacity: 1;
  border: 0;
  box-shadow: none;
  text-shadow: none;
}

/* messages */
ul.messages {
  margin: 10px 100px;
  padding: 0;
  list-style-type: none;
}
ul.messages li.success,
ul.messages li.warning,
ul.messages li.error,
ul.messages li.info {
  margin: 0;
  padding: 14px 20px;
  list-style: none;
  color: #fff;
}

ul.messages li.success {
  background: #81ce81;
}
ul.messages li.success a {
  color: #0ac33e;
}

ul.messages li.error {
  background: #a30029;
  color: #e9828e;
}
ul.messages li.error a {
  color: #e9828e;
}

ul.messages li.info {
  background: #faffae;
  color: #696b4e;
}
ul.messages li.info a {
  color: #1586de;
}

ul.messages li.warning {
  background: #de9404;
}
ul.messages li.warning a {
  color: #f49000;
}

ul.messages li a.close {
  margin: 0;
  float: right;
  opacity: 1;
  border: 0;
  box-shadow: none;
  text-shadow: none;
}
